
.form {
    display: flex;
    border-radius: 20px;
  }
  
  .input {
    border: none;
    border-radius: 0 0 0 13px;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
    background-color: #2C373C;
    color: white;
    text-decoration: none;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #054640;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
    border-radius: 0 0 13px 0;
  }